
 .container{
    position: relative;
 }
 .box{
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 20px;
    color: white;
    padding: 5px;
 }
 .red{
    background-color: red;
 }
 .yellow{
    background-color: yellow;
    left: 50px;
    top: 50px;
  z-index: 1;
 }
 .green{
    background-color: green;
    left: 100px;
    top: 100px;
    
 }