*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 50px;
    width: 50px;
    background-color: rgb(109, 156, 109);
    border: 1px solid lightgreen;
    text-align: center;
}
.box1{
    position: relative;
    left: 200px;
    top: 200px;

}
.box2{
    position: absolute;
   left: -30px;
    bottom: 30px;
}
.box3{
   position: absolute;
    right: -30px;
   bottom: 30px;

}
.box4{
  position: absolute;
 left: -30px;
top: 30px;
}
.box5{
    position: absolute;
    right: -30px;
    top: 30px;
}